/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-Jul-2015, 19:00:40
    Author     : Valar Morghulis
*/

html, body {
    background: #f7f7f7;
    font-family: cursive ;
}

#bold{
    font-weight: bold;
}
#information{

    font-family: cursive;
    font-size: 15px;


}
#content{
    background-color:#f7f7f7;    
    position: absolute;
    top: 150px;
    padding-left: 20px;
    bottom: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
     
}